* {
  margin: 0 auto;
  box-sizing: border-box;
  transition: all .1s ease-in;
  font-family: Trebuchet, Arial, sans-serif;
}

body {
  height: 100%;
  background-color: #3B3F45;
}

h1 {
  background-color: #4A4F56;
  font-size: 28px;
  line-height: 80px;
  font-weight: normal;
  height: 80px;
  color: #E97D7F;
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
}

.wrapper {
  padding: 40px 0;
  text-align: center;
  width: 800px;
  }

ul {
padding: 0;
}

li {
  list-style-type: none;
  text-align: left;
  }

.layout-buttons {
  padding-left: 2%;
  width: 100%;
  line-height: 62px;
  font-size: 26px;
  color: white;
  display: inline-block;
  cursor: pointer;
}

li:nth-child(1n) {
  background-color: #88839e;
}

li:nth-child(2n) {
  background-color: #7a7593;
}

footer {
  text-align: center;
}

footer > input {
  display: inline-block;
  background-color: #4a4f56;
  color: #eb7e7f;
  font-size: 24px;
  line-height: 76px;
  border: 0;
  width: 800px;
}

li:hover {
  border-top: 3px solid #f8f8f8;
  border-bottom: 3px solid #f8f8f8;
  background-color: #625e77;
}

.checkbox {
  width: 18px;
  height: 18px;
  cursor: pointer;

}
input[type="checkbox"]:checked + label {
  text-decoration: line-through;
  color: #A3A0B4;
}

label:active {
background-color: tomato;
}