* {
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  background-color: white;
}

header {
  margin: 142px 0 108px;
  text-align: center;
  text-transform: uppercase;
}

h4 {
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  color: #898f99;
  font-weight: bold;
}

h1 {
  font-size: 48px;
  font-family: "Montserrat", sans-serif;
  color: #0ec8cb;
  padding: 38px 0 46px;
  font-weight: normal;
}

.header {
  display: inline-block;
  font-size: 18px;
  font-family: "PTSans", sans-serif;
  line-height: 18px;
  color: #999999;
  margin: 0 30%;
  font-weight: normal;
}

.wrapper {
  text-align: center;
  margin: 0 10% 138px;
  font-size: 0;
  letter-spacing: 0.025em;
  display: inline-block;
  width: 80%;
}

.descr {
  border: 1px solid #ececec;
  display: inline-block;
  width: 25%;
  padding: 0 38px 0 34px;
  color: black;
  background-color: #f7f7f7;
}

i {
  font-size: 70px;
  margin: 54px 0 40px;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 21px;
  line-height: 24px;
  font-weight: normal;
  text-transform: uppercase;
  display: inline-block;
}

.text {
  font-family: "PTSans", sans-serif;
  font-weight: normal;
  font-size: 14px;
  display: block;
  margin: 32px 0 35%;
}

.descr:hover {
  color: white;
  background-color: #0ec8cb;
}