* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #464f54;
    height: 100vh;
    width: 100%;
}

.page {
    height: 100vh;
    margin: 150px 16% 0 16%;
    background-color: #fff;
    padding: 200px 9% 1% 7%;
    max-width: 1060px;
}

.page:before{ 
    content: " ";
    background: #e8eced;
    width: 2px;
    height: 127%;
    float: left;
    margin-left: -40px;
    margin-top: -200px;
    padding: 0;
    }

h3 {
    color: #b4b4b4;
    font-size: 19.84px;
    font-family: 'ProximaNova-Regular', sans-serif;
    font-weight: 100;
    text-transform: uppercase;
    opacity: 0.8;
    margin-bottom: 52px;
    line-height: 20px;
}

h1 {
    color: #2a2a2a;
    font-size: 77.93px;
    font-family: 'FuturaPT-Heavy', sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 78px;
}

h2 {
    color: #8f8f8f;
    font-size: 30px;
    font-family: 'Georgia', serif;
    font-style: italic;
    font-weight: 100;
    margin: 24px 0 40px;
}

p {
    color: #000;
    font-size: 26.96px;
    font-family: 'Georgia', serif;
    margin: 21px 0;
    line-height: 40.38px;
}

.editor {
    position: absolute;
    top: 50px;
    right: 0;
    background-color: #000;
    width: 65%;
    display: inline-block;
    padding: 50px 0 0 62px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.5);
}

.title {
    font-size: 15px;
    color: #767676;
    font-family: 'ProximaNova-Regular', sans-serif;
    line-height: 15px;
}

.input-text {
    font-size: 48px;
    line-height: 48px;
    color: #fefefe;
    background-color: #000;
    outline: none;
    outline-offset: 0;
    font-family: 'Playfair Display', serif;
    margin-bottom: 58px;
    border: none;
}

.bottom-line {
    border-bottom: 1px solid #818181;
    position: absolute;
    width: 95%;
    bottom: 27%;
    opacity: 0.5;
    right: 0;
  }

  .edition {
    position: absolute;
    background-color: #fabf2d;
    height: 78px;
    width: 95%;
    right: 0;
    box-shadow: 0 2px 10px rgba(0,0,0,0.5);  
  }

  .buttons {
    height: 100%;
    width: 660px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

@font-face {
    font-family: 'ProximaNova-Regular';
    src: local('ProximaNova-Regular'),
    url('../font/ProximaNova-Regular.svg') format('svg'), 
    url('../font/ProximaNova-Regular.woff') format('woff'),
    url('../font/ProximaNova-Regular.ttf') format('ttf'),
    url('../font/ProximaNova-Regular.eot') format('eot');
}

@font-face {
    font-family: 'FuturaPT-Heavy';
    src: local('FuturaPT-Heavy'),
         url('../font/FuturaPT-Heavy.svg') format('svg'), 
         url('../font/FuturaPT-Heavy.woff') format('woff'),
         url('../font/FuturaPT-Heavy.ttf') format('ttf'),
         url('../font/FuturaPT-Heavy.eot') format('eot');
  }