* {
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  transition: all .1s ease-in;
}

body {
  height: 100%;
  background-color: #3399cc;
  border: 35px solid #2b81ac;
}

header {
  margin: 38px 0;
  
}

h1 {
  font-size: 25px;
  color: white;
}

footer {
  font-size: 22px;
  color: white;
  margin-top: 34px;
}

.wrapper {
  margin: 0 15% 142px;
  font-size: 0;
  }

.table {
  border: 3px solid #ececec;
  display: block;
}

ul {
  font-size: 0;
  color: white;
  display: inline-block;
  width: 100%;
  padding-left: 0;
  text-decoration: none;
}

li {
  list-style-type: none;
  height: 148px;
}

.half {
  border: 3px solid #ececec;
  display: inline-block;
  width: 50%;
  text-align: center;  
}

.quorter {
  border: 3px solid #ececec;
  display: inline-block;
  width: 25%;
  text-align: center;  
}

.full {
  border: 3px solid #ececec;
  display: inline-block;
  width: 100%;
  text-align: center;  
}

li[id] {
  padding: 36px 0 20px;
}

.icon_wrapper {
  display: inline-block;
  width: 25px;
  height: 25px;
  font-size: 25px;
}

h2 {
  font-size: 25px;
  display: inline-block;
  margin-bottom: 20px;
}

p {
  font-size: 25px;
  color: rgba(255, 255, 255, 0.7);
}

.table:hover li[id] {
  opacity: 0.5;
}

.table li[id]:hover {
  opacity: 1;
}

#blue {
  background-color: #3399cc;
}

#sea {
  background-color: #33cccc;
}

#purple {
  background-color: #996699;
}

#red {
  background-color: #c24747;
}

#orange {
  background-color: #e2674a;
}

#yellow {
  background-color: #ffcc66;
}

#lime {
  background-color: #99cc99;
}

#dirt {
  background-color: #669999;
}

#pink {
  background-color: #cc6699;
}

#green {
  background-color: #339966;
}

#eggplant {
  background-color: #666699;
}